body {
    background-color: #979797;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

form {
    background-color: #ffffff;
}

.nav-icon {
    margin-top: 15px;
}

.landing-image {
    width: 100%;
    height: 750px;
    background-image: url(/static/images/tavern.jpg);
    background-size: auto;
    background-position: center;
}

.landing-text-container {
    color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 40px;
}

.landing-spacer {
    margin-top: 70px;
    margin-bottom: 70px;
}

.landing-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.line-divider {
    border-bottom: 2px solid whitesmoke;
}

.login-image {
    color: whitesmoke;
    width: 100%;
    height: 750px;
    background-image: url(/static/images/loginbackground.jpg);
    background-size: auto;
    background-position: center;
}

.dark-background {
    background-color: #97979773;
}