html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    max-height: 100vh;
}

section {
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    padding: 0px;
}

footer {
    margin: 0px;
    padding: 0px;
}

/* Landing */

.background-image-patrons {
    background-image: url(/static/images/patrons.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.background-image-empty {
    background-image: url(/static/images/empty.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover; 
}

.faded-background {
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.37);
}

/* Tavern */

.background-image-tavern {
    background-image: url(/static/images/tavern.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.form-container {
    padding: 30px;
}

.search-box {
    margin-bottom: 20px; 
}

.tavern_characters {
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    box-shadow: 1px 2px 1px 2px;
}

.character_divider {
    border-bottom: 2px solid #757575;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Profile */

.background-image-profile {
    background-image: url(/static/images/table.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

/* Register */

.background-image-register {
    background-image: url(/static/images/register.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

/* Create */

.background-image-create {
    background-image: url(/static/images/create.jpg);
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

::placeholder {
    color: white !important;
}

::-webkit-input-placeholder {
    color: white !important;
}

:-ms-input-placeholder {
    color: white !important;
}

:-moz-input-placeholder {
    color: white !important;
}

option {
    color: white !important;
}