<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>The Drunken Goblin</title>
</head>
<body>

    <header>
        <div class="">
          <a href="{{ url_for('tavern') }}" class="">Enter the Tavern.</a>
          <a href="{{ url_for('create') }}">Create</a>
          <a href="{{ url_for('profile') }}">Profile</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          <a href="{{ url_for('register') }}">Register</a>
          {% if session.user %}
            <a href="{{ url_for('edit', character_id=null) }}">Edit</a>
          {% endif %}
        </div>
    </header>

      <main>
          {% block content %}
          {% endblock %}
      </main>

      
      <footer class="">
        <div class="">
          <div class="">
            <div class="">
              <h5 class="">Like the site?</h5>
              <p class="">Get involved on social media or check out my other projects!</p>
            </div>
            <div class="">
              <h5 class="">Socials</h5>
              <ul>
                <li><a class="" href="#!">GitHub</a></li>
                <li><a class="" href="#!">Facebook</a></li>
                <li><a class="" href="#!">LinkedIn</a></li>
                <li><a class="" href="#!">Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
          Created by Joshua Brazington
          </div>
        </div>
      </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>