{% extends "base.html" %}
{% block content %}
<h1>Create/Edit Characters</h1>

<div class="row red-text">
    <form class="col s6 offset-s3" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
            <input placeholder="Character Name" id="character-name" type="text">
            <label for="character-name">Character Name</label>
            </div>
        </div>
        <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Race</label>
          </div>
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Class</label>
          </div>
          <div class="row">
            <div class="input-field col s12">
            <input placeholder="Likes" id="likes" type="text">
            <label for="likes">Likes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input placeholder="Dislikes" id="dislikes" type="text">
            <label for="dislikes">Dislikes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input placeholder="Bio" id="bio" type="text">
            <label for="bio">Bio</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}