{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="background-image-create white-text">
    <div class="faded-background">

      <div class="row">
        <div class="col s8 offset-s2 center">
          <h1>Edit Hero</h1>
        </div>
      </div>

      <div class="row">
        <form class="form-style white-text" enctype="multipart/form-data" method="POST" action="{{ url_for('edit', character_id=character._id) }}">

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 center">
              <input class="white-text" value="{{ character.character_name }}" placeholder="Character Name" name="character_name" id="character_name" type="text" required>
            </div>
          </div>

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 left">
              <input class="file-upload" value="{{ character.character_image }}" type="file" name="file" id="fileid" required>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s8 m4 offset-s2 offset-m4 center">
              <select id="character_race" name="character_race" class="white-text validate" required>
                <option class="white-text" value="{{ character.character_race }}" disabled selected>{{ character.character_race }}</option>
                {% for races in races_list %}
                  <option class="white-text" value="{{ races.race_name }}">{{ races.race_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="input field col s8 m4 offset-s2 offset-m4 center">
              <select id="character_class" name="character_class" class="validate" required>
                <option value="{{ character.character_class }}" disabled selected>{{ character.character_class }}</option>
                {% for classes in classes_list %}
                  <option value="{{ classes.class_name }}">{{ classes.class_name }}</option>
                {% endfor %} 
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 center">
              <input value="{{ character.character_likes }}" name="character_likes" placeholder="Likes" id="character_likes" class="white-text" type="text" required>
            </div>
          </div>

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 center">
              <input value="{{ character.character_dislikes }}" name="character_dislikes" placeholder="Dislikes" id="character_dislikes" class="white-text" type="text" required>
            </div>
          </div>

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 center">
              <textarea value="{{ character.character_bio }}" id="character_bio" name="character_bio" placeholder="Bio" maxlength="250" type="text" class="white-text materialize-textarea"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col s8 m4 offset-s2 offset-m4 center">
              <button type="submit" class="button-margin waves-effect waves-light btn-large" href="{{ url_for('profile') }}">You seem different Hero</button>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}