    {% extends "base.html" %}
    {% block content %}


    <div class="row center">
        <div class="col s12 landing-image valign-wrapper">
            <div class="col s12 landing-text-container dark-background">
                <div class="col s6 offset-s3">
                    <h1 class="center-align landing-item">The Drunken Goblin</h1>
                </div>
                <div class="col s8 offset-s2">
                    <p class="center-align landing-item">Welcome to The Drunken Goblin the place for heroes to meet, share stories and find new adventures. Dont know who to take with you into your adventures mabye we have the Hero for you!</p>
                </div>
                <div class=" col s8 offset-s2">
                    <a class="waves-effect waves-light btn-large teal lighten-1 center-align landing-item" href="{{ url_for('tavern') }}">Meet your Heroes!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row center valign-wrapper landing-spacer">
        <div class="col s12 landing-text-container">
            <div class="col s8 offset-s2">
                <h2 class="center-align landing-item">Tired of seeing the same old heroes?</h2>
            </div>
            <div class="col s8 offset-s2">
                <p class="center-align landing-item">Add some of your own heroes to the roster! All you need to do is create an account!</p>
            </div>
        </div>
    </div>

    <div class="row center">
        <div class="col s12 login-image valign-wrapper">
            <div class="col s12 landing-text-container dark-background">
            <div class="col s12">
                <p class="center-align landing-item">Do you want to log in?</p>
                <div class="row">
                    <div class="input-field col s2 offset-s5">
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                      </div>
                </div>
                <div class="row">
                    <div class="input-field col s2 offset-s5">
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                  </div>
                <a class="waves-effect waves-light btn-large teal lighten-1 center-align landing-item">Log In!</a>
            </div>
            <div class="col s12">
                <p class="center-align landing-item">Do you want to register?</p>
                <a class="waves-effect waves-light btn-large teal lighten-1 center-align landing-item">Register!</a>
            </div>
        </div>
    </div>
    </div>

    {% endblock %}


