    {% extends "base.html" %}
    {% block content %}


    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <h1 class="">The Drunken Goblin</h1>
                </div>
                <div class="">
                    <p class="">Welcome to The Drunken Goblin the place for heroes to meet, share stories and find new adventures. Dont know who to take with you into your adventures mabye we have the Hero for you! Want to share your Heroes? You can do that too!</p>
                </div>
                <div class="">
                    <a class="" href="{{ url_for('tavern') }}">Meet your Heroes!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="">
            <div class="">
                <h2 class="">Tired of seeing the same old heroes?</h2>
            </div>
            <div class=""></div>
            <div class="">
                <p class="">Add some of your own heroes to the roster! All you need to do is create an account!</p>
            </div>
        </div>
    </div>


    <div class="">
        <div class="">
            <form class="" method="POST" action="{{ url_for('landing') }}">
                <div class="">
                    <div class="">
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="">
                    <button type="submit" class="">
                        Login!
                    </button>
                </div>
                <div class="">
                    <p class="">Do you want to register?</p>
                    <a class="" href="{{ url_for('register') }}">Register!</a>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}


