    {% extends "base.html" %}
    {% block content %}


    <div class="row background-image-patrons">
        <div class="faded-background white-text">
            <div class="row">
                <div class="col s12">
                    <h1 class="center">The Drunken Goblin</h1>
                </div>
                <div class="col s12">
                    <p class="center">Struggling to create a hero for your next campaign? Always tend to create the same types of heroes?</p>
                    <p class="center">The Drunken Goblin is the place for you! It is a database containing heroes from other users and campaigns, allowing anyone to quickly find a hero to suit their needs, be that by class, race, likes or dislikes.</p>
                </div>
            </div>
            <div class="row center">
                <a class="button-margin waves-effect waves-light btn-large" href="{{ url_for('tavern') }}">Meet your heroes!</a>
            </div>
        </div>
    </div>

    <div class="row grey lighten-2 white text ">
        <div class="row">
            <div class="character_divider col s8 offset-s2"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <h2 class="center">Tired of using the same old heroes?</h2>
            </div>
            <div class="col s12">
                <p class="center">Register and add your own heroes to the tavern so other people can use them on their adventures!</p>
            </div>
        </div>
        <div class="row center">
            <a class="button-margin waves-effect waves-light btn-large" href="{{ url_for('register') }}">Register!</a>
        </div>
        <div class="row">
            <div class="character_divider col s8 offset-s2"></div>
        </div>
        
    </div>


    <div class="row background-image-empty center">
        <div class="faded-background white-text">
            <div class="row">
                <div class="col s12 center">
                    <h3 class="center">Already have an account?</h3>
                </div>
            </div>
            <div class="row">
                <form class="" method="POST" action="{{ url_for('landing') }}">
                    <div class="row">
                        <div class="col s8 m4 offset-s2 offset-m4">
                            <input id="username" placeholder="Username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Username can only contain letters and numbers." class="white-text validate " required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 m4 offset-s2 offset-m4">
                            <input id="password" placeholder="Password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title="Password can only contain letters, numbers and symbols !@#$%^*_ ." class="white-text validate" required>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" class="button-margin waves-effect waves-light btn-large">
                            Login!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}


