{% extends "base.html" %}
{% block content %}
<h1>Welcome to your table {{ session['user'] }}</h1>

<div class="">
    <div class="">
        <a class="" href="{{ url_for('create') }}">Create a new Hero?</a>
    </div>    
</div>
<div class="">
    {% for character in usercharacters %}
        {% if character.character_user == session.user %}
            <div class="">
                <div class="">This will be an image</div>
                <div class="">{{ character.character_name }}</div>
                <div class="">{{ character.character_race }}</div>
                <div class="">{{ character.character_class }}</div>
                <div class="">{{ character.character_likes }}</div>
                <div class="">{{ character.character_dislikes }}</div>
                <div class="">{{ character.character_bio }}</div>
                <div class=""><a class="" href="{{ url_for('edit', character_id=character._id) }}">Edit Hero</a></div>
                <div class=""><a class="" href="{{ url_for('delete', character_id=character._id) }}">Delete Hero</a></div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="">
    <p>This will show the heroes you favourited!</p>
</div>
{% endblock %}