{% extends "base.html" %}
{% block content %}

<div class="row background-image-register white-text">
    <div class="faded-background">
        <div class="row">
            <div class="col s8 offset-s2 center">
                <h2>Create an account</h2>
            </div>
        </div>
        <div class="row">
            <form class="white-text" method="POST" action="{{ url_for('register') }}">
                <div class="row">
                    <div class="col s8 m4 offset-s2 offset-m4">
                        <input id="username" name="username" placeholder="Username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="white-text validate" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 m4 offset-s2 offset-m4">
                    <input id="email" name="email" placeholder="Email" type="email" class="white-text validate" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 m4 offset-s2 offset-m4">
                        <input id="password" name="password" placeholder="Password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="white-text validate" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 m4 offset-s2 offset-m4 center">
                        <button type="submit" class="button-margin btn-small">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}