{% extends "base.html" %}
{% block content %}
<h1>This page will display all characters in the data base where you will be able to select favariots to be stored on your profile.</h1>
{% for character in characters %}
    <div class="row col 12 center-align">
        <div class="col s4 character-image">This will be an image</div>
        <div class="col s1 character-name">{{ character.character_name }}</div>
        <div class="col s1 character-race">{{ character.character_race }}</div>
        <div class="col s1 character-class">{{ character.character_class }}</div>
        <div class="col s1 character-likes">{{ character.character_likes }}</div>
        <div class="col s1 character-dislikes">{{ character.character_dislikes }}</div>
        <div class="col s2 character-bio">{{ character.character_bio }}</div>
        <div class="col s1"><i class="far fa-heart"></i></div>
    </div>
{% endfor %}

{% endblock %}