{% extends "base.html" %}
{% block content %}
<div class="row">
    <form action="{{ url_for('search') }}" method="POST" class="cols12">
        <div class="row valign-wrapper col s12 m4">
            <i class="fas fa-search"></i>
            <input type="text" name="query" id="query" class="validate" required>
            <label for="query">Search Characters</label>
        </div>
        <div class="col s12 m4">
            <a href="{{ url_for('tavern') }}">Clear</a>
            <button type="submit" class="">
                <i class="fas fa-search">Search</i>
            </button>
        </div>
    </form>
</div>
<div class="row valign-wrapper hide-on-med-and-down">
    <div class=""><h3>Portrait</h3></div>
    <div class=""><h3>Name</h3></div>
    <div class=""><h3>Race</h3></div>
    <div class=""><h3>Class</h3></div>
    <div class=""><h3>Likes</h3></div>
    <div class=""><h3>Dislikes</h3></div>
    <div class=""><h3>Backstory</h3></div>
    <div class=""><h3>Favourite</h3></div>
</div>

{% for character in characters %}
    {% if character|length > 0 %}
        <div class="row">
            <div class="col s8 offset-s2 center">This will be an image</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Name: </span>{{ character.character_name }}</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Race: </span>{{ character.character_race }}</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Class: </span>{{ character.character_class }}</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Likes: </span>{{ character.character_likes }}</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Dislikes: </span>{{ character.character_dislikes }}</div>
            <div class="col s8 offset-s2"><span class="hide-on-med-and-up">Bio: </span>{{ character.character_bio }}</div>
            <div class="col s6 center"><a class="fas fa-heart-broken" href="{{ url_for('removesavecharacter', character_id=character._id) }}">Unsave Character</a></div>
            <div class="col s6 center"><a class="fas fa-heart" href="{{ url_for('savecharacter', character_id=character._id) }}">Save Character</a></div>
        <div class="row center-align">
            {% if character.character_user == session.user %}
                <div class="col s6"><a class="waves-effect waves-light btn-small" href="{{ url_for('edit', character_id=character._id) }}">Edit Hero</a></div>
                <div class="col s6"><a class="waves-effect waves-light btn-small" href="{{ url_for('delete', character_id=character._id) }}">Delete Hero</a></div>
            {% endif %}
        </div>
    {% else %}
        <h3>There appears to be no one in the tavern going by that name.</h3>
    {% endif %}
{% endfor %}


{% endblock %}