{% extends "base.html" %}
{% block content %}
<div class="">
    <div class=""><h3>Portrait</h3></div>
    <div class=""><h3>Name</h3></div>
    <div class=""><h3>Race</h3></div>
    <div class=""><h3>Class</h3></div>
    <div class=""><h3>Likes</h3></div>
    <div class=""><h3>Dislikes</h3></div>
    <div class=""><h3>Backstory</h3></div>
    <div class=""><h3>Favourite</h3></div>
</div>
{% for character in characters %}
    <div class="">
        <div class="">This will be an image</div>
        <div class="">{{ character.character_name }}</div>
        <div class="">{{ character.character_race }}</div>
        <div class="">{{ character.character_class }}</div>
        <div class="">{{ character.character_likes }}</div>
        <div class="">{{ character.character_dislikes }}</div>
        <div class="">{{ character.character_bio }}</div>
        {% if contains == character.character_name  %}
            <div class=""><a class="fas fa-heart" href="{{ url_for('removesavecharacter', character_id=character._id) }}"></a></div>
        {% else %}
            <div class=""><a class="far fa-heart" href="{{ url_for('savecharacter', character_id=character._id) }}"></a></div>
        {% endif %}
        {% if character.character_user == session.user %}
            <div class=""><a class="" href="{{ url_for('edit', character_id=character._id) }}">Edit Hero</a></div>
            <div class=""><a class="" href="{{ url_for('delete', character_id=character._id) }}">Delete Hero</a></div>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}